form{
	background-color: lightblue;
	height: 220px;
	width:290px;
   text-align: center;
   padding: 15px;
	border-radius: 10px   


}
input{

	width:250px;
	height: 30px;
	margin-top: 10px;
	margin-bottom:20px;
	font-size: 15px;
	text-align: center;
	border-radius: 10px;
	font-family: cursive;
	font-weight: lighter;
}

button{
	width: 90px;
	height: 30px;
 	border-radius: 10px;
 	font-family: cursive;
}
p{
	color: Red;
}
